
@{
    ViewBag.Title = "Formulaire d'Inscription";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
body { background-image: url( "http://www.dididou.fr/coloriage/sport/arc/arc07.gif"); }
    img {
        opacity: 0.1;
        position: relative;
    }
</style>
<div class="container col-md-3">
    
   
</div>
<div class="container-fluid col-md-6">
    
    <div class="panel panel-primary alert alert-success" >
        <div class="panel-heading alert alert-success"><h2>@RenderSection("SectionTitle", true)</h2></div>
        <div class="panel-body">
            @RenderBody()
        </div>
    </div>
    
</div>
<div class="container col-md-3">
    
   
</div>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery.validate.globalize.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>



@section SectionScripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>  @* Pour la validation du formulaire COTE CLIENT !!!*@
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    @RenderSection("SectionScripts", false)
}

