@model List<Archery.Models.Archer>


@{
    ViewBag.Title = "Liste ";
    Layout = "~/Views/Shared/_ListLayout.cshtml";

}
@section SectionTitle
        {
    Liste des Tireurs
}

@{
    /*var ArcherList = new List<Archery.Models.Archer>();*/
   
    foreach (Archery.Models.Archer element in Model)
    {
<ul class="list-group">
    <li class="list-group-item alert alert-info col-12"> @(element.LastName)  @(element.FirstName)  @(element.BirthDate.)   @(element.LicenseNumber) </li>
   
</ul>
        

    }


}
